:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#FDFDFE;
    --color5:#39858E;
}

.who_us{
    margin: 0px;
    background-color: var(--color5);
    padding: 100px 20px;
    display: flex;
    align-items: center;
    position: relative;
    .text{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 60%;

        h2{
            color:var(--color4);
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 800;
            font-size: 71px;
            line-height: 140%;
            text-transform:capitalize;
            height: 297px;
            position: relative;

            span{
                color:var(--color3)
            }
            &.active{
                font-size:81px;
                width:90%;
                padding-top:50px;
            }
            .line1{
                position: absolute;
                top:100px;
                right: 24%;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 25.06px;
                border-radius: 4px;
            }
            .line2{
                position: absolute;
                top:100px;
                right: 19%;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 46.06px;
                border-radius: 5px;
                transform: rotate(45deg);
            }
            .line3{
                position: absolute;
                top:150px;
                right: 18%;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 25.06px;
                border-radius: 4px;
                transform: rotate(85deg);
            }
            .line4{
                position: absolute;
                top:100px;
                left: 15%;
                top:20px;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 25.06px;
                border-radius: 4px;
            }
            .line5{
                position: absolute;
                top:100px;
                left: 10%;
                top:27px;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 46.06px;
                border-radius: 5px;
                transform: rotate(-45deg);
            }
            .line6{
                position: absolute;
                top:100px;
                left: 9%;
                top:80px;
                background:var(--color3);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                width: 5.91px;
                height: 26.06px;
                border-radius: 5px;
                transform: rotate(-90deg);
            }
        }
        .mernan{
            width: 83%;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 170%;
            color:var(--color4);
            margin: 20px 0px;
        }

        .statistics{
            display: flex;
            align-items: center;
            justify-content:flex-start;
            width:90%;
            margin:10px 0px;
            &.active_ar{
                position:relative;
                left:40px;
            }

            &.active_en{
                position:relative;
                right:20px;
            }

            div{
                width: 188px;
                height: 129px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 9px;
                text-align:center;

                h3{
                    text-align: center;
                    font-family: 'Almarai';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 61px;
                    line-height: 140%;
                    color:var(--color4);
                    width:100%
                }

                p{
                    font-family: 'Almarai';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 140%;
                    color:var(--color4);
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    width:100%
                }
            }
        }

        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0px;
            margin: 20px 0px 50px 0px;
            .who_mernan{
                background-color:var(--color3); 
                        border: none;
                        box-shadow: 0px 123px 49px rgba(0, 0, 0, 0.01), 0px 69px 41px rgba(0, 0, 0, 0.05), 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                        width: 294px;
                        height: 79px;
                        padding: 18px 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px 0px;
                        cursor: pointer;
                        font-family: 'Almarai';

                        &.who_ar{
                            width: 218px;
                        }
                    
                        span{
                            font-family: 'Almarai';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 31px;
                            line-height: 140%;
                            color:var(--color2);
                            flex: none;
                            flex-grow: 0;
                            display: grid;
                            place-items: center;
                        }
            }
            .portfolio{
                width: 167px;
                height: 71px;
                margin: 0px 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 18px 20px;
                gap: 10px;
                border-radius: 10px 0px;
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 700;
                font-size: 31px;
                line-height: 140%;
                border: 3px solid var(--color4);
                background: none;
                color:var(--color4);

                &.portfolio_ar{
                    width: 250px;
                    height: 79px;
                    cursor: pointer;
                }
            }
        }
    }
    .image_en{
        position: absolute;
        right: 0px;
    }
    .image_ar{
        position: absolute;
        left: 0px;
    }
    .image_ img{
        width:680.05px;
        height: 586.01px;
    }
}




//** Media Query for responsive */

@media only screen and (min-width: 1550px){
    .who_us{
        .text{
            width: 55%;
        }
    }
}


@media only screen and (min-width: 1650px){
    .who_us{
        .text{
            h2{
                font-size:75px ;

                &.active{
                    font-size:85px;
                    width:90%;
                    padding-top:50px;
                }
            }
        }

        .image_ img{
            width:780.05px;
            height: 686.01px;
        }
    }
}


@media only screen and (min-width: 1700px){
    .who_us{
        padding: 100px 30px;
        .text{
            width: 50%;
            h2{
                font-size:80px ;
                &.active{
                    font-size:85px;
                    width:90%;
                    padding-top:50px;
                }
            }
            .mernan{
                width: 90%;
                font-size: 30px;
                margin: 40px 0px;
            }
            .statistics{
                margin:10px 0px 20px 0px;
                div{
                    width: 200px;
                    h3{
                        font-size: 71px;
                    }
                    p{
                        font-size: 23px;
                    }
                }
            }
        }

        .image_ img{
            width:880.05px;
            height: 786.01px;
        }
    }
}


@media only screen and (max-width: 1370px){
    .who_us{
        .text{
            width: 55%;
        h2{
            font-size: 60px;
            position: relative;
            padding-top: 50px;
            &.active{
                font-size:71px;
                width:90%;
                padding-top:80px;
            }
            .line4 , .line5{
                position: absolute;
                top:50px;
            }
            .line6{
                position: absolute;
                top:100px;
            }
        }

        .mernan{
            width: 84%;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 170%;
            color:var(--color4);
            margin: 20px 0px;
        }

        .statistics{
            display: flex;
            align-items: center;
            justify-content:flex-start;
            width:90%;
            margin:10px 0px;

            div{
                width: 160px;

                h3{
                    font-size: 52px;
                }
                p{
                    font-size: 18px;
                }
            }

            &.active_ar{
                position:relative;
                left:40px;
            }

            &.active_en{
                position:relative;
                right:20px;
            }
    }
    .buttons{

        .who_mernan{
            width: 260px;
            height: 69px;
            &.who_ar{
                width: 200px;
            }

            span{
                font-size: 25px;
            }
        }
        .portfolio{
            width: 160px;
            height: 69px;
            font-size: 25px;

            &.portfolio_ar{
                width: 240px;
                height: 69px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    }
    .image_ img{
        width:580.05px;
        height: 486.01px;
    }
}
}