:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#39858E;
    --color5:#FDFDFE;
}

.join_us{
    width: 100%;
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 70px 20px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

    .image{
        width: 47%;
        img{
            width: 100%;
        }
    }
    .explaining{
        width: 70%;
        h2{
            font-size: 61px;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
            color:var(--color5);
            position: relative;
            width: 92%;
            span{
                color: var(--color3);
            }
            .services_en{
                position: absolute;
                top:-30px;
                right: -30px;
                width: 57px;
                height: 63px;
            }
            .services_ar{
                position: absolute;
                top:-30px;
                left: -10px;
                width: 57px;
                height: 63px;
            }
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 170%;
            color: var(--color5);
            margin: 20px 0px;
        }
    }
}

@media only screen and (min-width:1100px){

    .join_us{
        .explaining{
            h2{
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right: 40px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 50px;
                    width: 57px;
                    height: 63px;
                }
            }
        }
    }
}

@media only screen and (min-width:1200px){

    .join_us{
        .explaining{
            h2{
                font-size: 71px;
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right: 0px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 50px;
                    width: 57px;
                    height: 63px;
                }
            }
            p{
                font-size: 20px;
            }
        }
    }
}


@media only screen and (min-width:1250px){

    .join_us{
        .explaining{
            h2{
                font-size: 81px;
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right: 0px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 0px;
                    width: 57px;
                    height: 63px;
                }
            }
            p{
                font-size: 25px;
            }
        }
    }
}

@media only screen and (min-width:1300px){

    .join_us{
        .explaining{
            h2{
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:-30px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 0px;
                    width: 57px;
                    height: 63px;
                }
            }
        }
    }
}

@media only screen and (min-width:1350px){

    .join_us{
        .explaining{
            h2{
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:0px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left:50px;
                    width: 57px;
                    height: 63px;
                }
            }
        }
    }
}

@media only screen and (min-width:1500px){

    .join_us{
        .explaining{
            h2{
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:60px;
                    width: 57px;
                    height: 63px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 100px;
                    width: 57px;
                    height: 63px;
                }
            }
        }
    }
}

@media only screen and (min-width:1600px){

    .join_us{
        .explaining{
            h2{
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:100px;
                    width: 67px;
                    height: 73px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 150px;
                    width: 77px;
                    height: 83px;
                }
            }
        }
    }
}

@media only screen and (min-width:1700px){

    .join_us{
        .image{
            width: 47%;
            margin-top: 20px;
            img{
                width: 100%;
            }
        }
        .explaining{
            h2{
                font-size: 81px;
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:200px;
                    width: 67px;
                    height: 73px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 220px;
                    width: 77px;
                    height: 83px;
                }
            }
            p{
                font-size: 30px;
            }
        }
    }
}


@media only screen and (min-width:1900px){

    .join_us{
        .explaining{
            h2{
                font-size: 91px;
                span{
                    color: var(--color3);
                }
                .services_en{
                    position: absolute;
                    top:-30px;
                    right:200px;
                    width: 67px;
                    height: 73px;
                }
                .services_ar{
                    position: absolute;
                    top:-30px;
                    left: 250px;
                    width: 67px;
                    height: 73px;
                }
            }
            p{
                font-size: 35px;
            }
        }
    }
}