

.our_locations{
    width: 100%;
    background-color: var(--color6);
    padding: 50px 20px;
    position: relative;

    h2{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        color: var(--color5);
        position: absolute;
        top:30px;
        z-index: 10;
        
        &::after{
            content: "";
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: var(--color3);
            display: block;
            position: absolute;
            top:0px;
            z-index:-1;
        }
    }

    .locations{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        .location{
            position: relative;
            img{
                width: 300px;
                height: 300px;
            }
            .text{
                position: absolute;
                bottom:0px;
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                justify-content: center;

                &.text_en{
                    margin-left: 30px;
                }

                &.text_ar{
                    margin-right: 30px;
                }

                p{
                    font-family: 'Almarai';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    color: var(--color2);
                    
                    span{
                        font-family: 'Almarai';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%; 
                        color: var(--color2);                       
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .our_locations{
        h2{
            font-size: 40px;

            &::after{
                content: "";
                width: 52px;
                height: 52px;
            }
        }
        .locations{
            margin-top: 80px;
            .location{
                position: relative;
                img{
                    width: 350px;
                    height: 350px;
                }
                .text{
                    p{
                        font-size: 20px;
                        span{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1300px){
    .our_locations{
        h2{
            font-size: 40px;

            &::after{
                content: "";
                width: 52px;
                height: 52px;
            }
        }
        .locations{
            margin-top: 80px;
            .location{
                position: relative;
                img{
                    width: 380px;
                    height: 380px;
                }
                .text{

                &.text_en{
                    margin-left: 50px;
                }

                &.text_ar{
                    margin-right: 50px;
                }
                    p{
                        font-size: 25px;
                        span{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1400px){
    .our_locations{
        h2{
            font-size: 40px;

            &::after{
                content: "";
                width: 52px;
                height: 52px;
            }
        }
        .locations{
            margin-top: 80px;
            .location{
                position: relative;
                img{
                    width: 400px;
                    height: 420px;
                }
                .text{
                    &.text_en{
                        margin-left: 40px;
                    }
    
                    &.text_ar{
                        margin-right: 40px;
                    }
                    p{
                        font-size: 25px;
                        span{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1500px){
    .our_locations{
        font-size: 49px;

        &::after{
            content: "";
            width: 62px;
            height: 62px;
        }
        .locations{
            margin-top: 80px;
            .location{
                position: relative;
                img{
                    width: 440px;
                    height: 440px;
                }
                .text{
                    &.text_en{
                        margin-left: 50px;
                    }
    
                    &.text_ar{
                        margin-right: 50px;
                    }
                    p{
                        font-size: 25px;
                        span{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1700px){
    .our_locations{
        h2{
            font-size: 49px;

            &::after{
                content: "";
                width: 62px;
                height: 62px;
            }
        }
        .locations{
            margin-top: 80px;
            .location{
                position: relative;
                img{
                    width: 480px;
                    height: 480px;
                }
                .text{
                    &.text_en{
                        margin-left: 50px;
                    }
    
                    &.text_ar{
                        margin-right: 50px;
                    }
                    p{
                        font-size: 30px;
                        span{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1900px){
    .our_locations{
        h2{
            font-size: 59px;

            &::after{
                content: "";
                width: 72px;
                height: 72px;
            }
        }
        .locations{
            margin-top: 100px;
            .location{
                position: relative;
                img{
                    width: 520px;
                    height: 520px;
                }
                .text{
                    &.text_en{
                        margin-left: 80px;
                    }
    
                    &.text_ar{
                        margin-right: 80px;
                    }
                    p{
                        font-size: 35px;
                        span{
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
}