
:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#39858E;
    --color5:#FDFDFE;
}

.what_services{
    padding: 50px 20px 50px 0px;
    width: 100%;
    background-color:var(--color4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.what_services_ar{
        padding: 50px 0px 50px 20px;
    }

    .image{
        width: 50%;
        margin-right: 0px;
        img{
            width: 442px;
        }
    }
    .explaining{
        width: 50%;

        h2{
            font-size: 61px;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
            color:var(--color5);
            position: relative;
            span{
                color: var(--color3);
            }
            .services_en{
                position: absolute;
                top:-30px;
                right: 0px;
            }
            .services_ar{
                position: absolute;
                top:-30px;
                left: 25px;
            }
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 170%;
            color: var(--color5);
            margin: 20px 0px;
        }

        .browse_services button{
            width: 200px;
            height: 51px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 15px 17px;
            gap: 10px;
            background:var(--color3);
            box-shadow: 0px 123px 49px rgba(0, 0, 0, 0.01), 0px 69px 41px rgba(0, 0, 0, 0.05), 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            span{
                font-size: 18px;
                line-height: 140%;
                font-weight: 700;
                font-family: 'Almarai';
                font-style: normal;
                color:var(--color2);
                flex: none;
                flex-grow: 0;
                display: grid;
                place-items: center;
            }
        }
    }
}