
:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#39858E;
    --color5:#FDFDFE;
}

.what_services{
    padding: 70px 20px 50px 0px;
    width: 100%;
    background-color:var(--color4);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &.what_services_ar{
        padding: 70px 0px 50px 20px;
    }

    .image{
        width: 50%;
        margin-right: 0px;
        img{
            width: 442px;
        }
    }
    .explaining{
        width: 50%;
        h2{
            font-size: 61px;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
            color:var(--color5);
            position: relative;
            span{
                color: var(--color3);
            }
            .services_en{
                position: absolute;
                top:-30px;
                right: 0px;
            }
            .services_ar{
                position: absolute;
                top:-30px;
                left: 25px;
            }
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 170%;
            color: var(--color5);
            margin: 20px 0px;
        }
    }
}