

.request{
    width: 100%;
    position: relative;

    &.request_ar{
        padding: 50px 20px 50px 0px;

        .section{
            input , select , textarea{
                text-align: right
            }
            .div1{
                input{
                    margin:0px 0px
                }
            }
        }
    }

    &.request_en{
        padding: 50px 0px 50px 20px;
        .section{
            input , select , textarea{
                text-align: left
            }
        }
    }

    h2{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        color: var(--color2);
        position: absolute;
        top:30px;
        z-index: 10;
        
        &::after{
            content: "";
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: var(--color7);
            display: block;
            position: absolute;
            top:0px;
            z-index:-1;
        }
    }
    
    .body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
        .section{
            margin-top: 0px;
            width: 45%;
            .div1{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            form{
                width: 90%;
                input , select , textarea{
                    background-color: var(--color1);
                    border: 1px solid var(--color2);
                    height:50px;
                    border-radius: 10px;
                }
                label{
                    font-family: 'Almarai';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 140%;   
                    color: var(--color2);                 
                }
                textarea{
                    height: 160px;
                    resize: none;
                }
                select option{
                    width:500px;
                }
            }
        }
        .image{
            width: 45%;
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .request{
        h2{
            font-size: 40px;
            
            &::after{
                content: "";
                width: 52px;
                height: 52px;
            }
        }
    }
}

@media only screen and (min-width:1300px){
    .request{
        .body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 70px;
            .section{
                margin-top: 0px;
                width: 45%;
                .div1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                form{
                    width: 96%;
                    input , select , textarea{
                        background-color: var(--color1);
                        border: 2px solid var(--color2);
                        font-size: 18px;
                    }
                    label{
                        font-size: 18px;                
                    }
                    textarea{
                        height: 160px;
                        resize: none;
                    }
                }
            }
    }
}
}

@media only screen and (min-width:1400px){
    .request{
        .body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 70px;
            .section{
                margin-top: 0px;
                width: 45%;
                .div1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                form{
                    width: 96%;
                    input , select , textarea{
                        background-color: var(--color1);
                        border: 3px solid var(--color2);
                        font-size: 20px;
                    }
                    label{
                        font-size: 20px;                
                    }
                    textarea{
                        height: 160px;
                        resize: none;
                    }
                }
            }
    }
}
}

@media only screen and (min-width:1500px){
    .request{
        h2{
            font-size: 49px;
            
            &::after{
                content: "";
                width: 62px;
                height: 62px;
            }
        }
        .body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 80px;
            .section{
                margin-top: 0px;
                width: 45%;
                .div1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                form{
                    width: 96%;
                    input , select , textarea{
                        background-color: var(--color1);
                        border: 3px solid var(--color2);
                        font-size: 20px;
                        height: 60px;
                    }
                    label{
                        font-size: 25px;                
                    }
                    textarea{
                        height: 160px;
                        resize: none;
                    }
                }
            }
    }
}
}

@media only screen and (min-width:1900px){
    .request{
        h2{
            font-size: 59px;
            
            &::after{
                content: "";
                width: 72px;
                height: 72px;
            }
        }
        .body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 100px;
            .section{
                margin-top: 0px;
                width: 45%;
                .div1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                form{
                    width: 96%;
                    input , select , textarea{
                        background-color: var(--color1);
                        border: 4px solid var(--color2);
                        font-size: 25px;
                        height: 80px;
                    }
                    label{
                        font-size: 30px;                
                    }
                    textarea{
                        height: 200px;
                        resize: none;
                    }
                }
            }
    }
}
}