
:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#39858E;
}

.welcome{
    width: 100%;
    background-color: var(--color1);
    padding: 60px 20px;
    display: flex;
    align-content: center;
    justify-content:space-between;
    position: relative;
    .explain{
        width: 52%;

        h2{
            font-size: 61px;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
            color:var(--color4);
            position: relative;
            span{
                color: var(--color2);
            }
            .radiation_en{
                position: absolute;
                right: -20px;
                top: -40px;
            }
            .radiation_ar{
                position: absolute;
                left: -30px;
                top: -40px;
            }
        }
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 170%;
            color: var(--color2);
            margin: 20px 0px;
        }

        .share{
            position: absolute;
            left:50%;
            z-index: 11;
            height: 300px;
            bottom:-50px,
        }
    }
    .image{
        width: 44%;
        img{
            width: 420px;
            height: 320px;
        }
    }
}