
 
.portfolio{
    padding: 50px 20px;
    position: relative;

    h2{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: var(--color2);
        position: absolute;
        top:30px;
        z-index: 10;
        
        &::after{
            content: "";
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: var(--color7);
            display: block;
            position: absolute;
            top:0px;
            z-index:-1;
        }
    }
    .portfolio_card{
        margin-top: 60px;
        width: 100%;
        overflow: hidden;
    }

    // .mySwiper{
    //     margin-left: auto;
    //     margin-right: auto;
    //     .swiper-slide{
    //         width: fit-content !important;
    //         border-radius: 10px;
    //         display: flex;
    //         justify-content: center;
    //         transform: scale(0.9);
    //     }
    //     .swiper-slide.swiper-slide-active{
    //         transform: scale(1.2);
    //         z-index: 3;
            

    //     }
    //     .swiper-slide.swiper-slide-next{
    //         transform: scale(0.9);
            
    //     }
    //     .swiper-slide.swiper-slide-prev{
    //         transform: scale(0.9);
            
    //     }
    //     img{
    //         // width: fit-content;
    //         width: 400px;
    //         height: 350px;
    //         border-radius: 10px;
    //     }
    // }
    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
        background: transparent;
      }
      
      .swiper-slide img {
        display: block;
        max-width: 100%;
        max-height: 385px;
        object-fit: cover;
      }
      .swiper-slide.swiper-slide-active{
        transform: scale(1.2);
        z-index: 3;
     
    }
    
      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
}



@media only screen and (min-width:1500px){
    .portfolio{
        h2{
            font-size: 49px;
            &::after{
                content: "";
                width: 62px;
                height: 62px;
            }
        }
       
    }
}

@media only screen and (min-width:1900px){
    .portfolio{
        h2{
            font-size: 59px;
            &::after{
                content: "";
                width: 72px;
                height: 72px;
            }
        }
        
    }
}