
.services_offered{

    width:100%;
    padding: 50px 20px;
    position: relative;

    h2{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: var(--color2);
        position: absolute;
        top:30px;
        z-index: 10;
        
        &::after{
            content: "";
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: var(--color7);
            display: block;
            position: absolute;
            top:0px;
            z-index:-1;
        }
    }
    .cards{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}