


.card_{
    width: 200px;
    position: relative;
    background:var(--color5);
    box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 226px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin:10px auto;

    .image1{
        width: 30%;
        height: 35%;
        position: absolute;
        right: 0px;
        top:0px;
        border-radius: 0px 10px 0px 0px;
        z-index: 1;
    }
    .part2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px auto 20px auto;
        width: 100%;
        z-index: 11;

        h3{
            margin: 10px 0px;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: var(--color2);
            text-align: center;
        }
        img{
            width: 80%;
            height:10px;
        }
    }
    p{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 170%;
        color: var(--color2);
        text-align: center;
    }
}