

.card_article{
    width: 390px;
    height: 581px;
    box-shadow: 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--color5);
    padding:20px;
    position:relative;

    .card_footer{
        width:90%;
        position:absolute;
        bottom:20px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        span{
            color:var(--color2);
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
        }
    }

    .image{
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        margin:0px auto;
        img{
            width:100%;
        }
    }

    .title{
        margin-top:20px;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        span{
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color:var(--color2);
        flex: none;
        order: 0;
        flex-grow: 0;
        padding:8px 16px;
        border-radius: 5px;
        }
    }
    .text{
        margin-top:10px;
        p{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 140%;  
            color:var(--color2)
        }
    }
}