:root{
    --color1:#EDE4E0;
    --color2:#312E3A;
    --color3:#FFC84D;
    --color4:#fff;
}

.footer{
    // margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:var(--color1);
    padding: 40px 20px;

    .head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .work_with{
            background-color:var(--color3); 
                    border: none;
                    box-shadow: 0px 123px 49px rgba(0, 0, 0, 0.01), 0px 69px 41px rgba(0, 0, 0, 0.05), 0px 31px 31px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                    width: 239px;
                    height: 71px;
                    padding: 18px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px 0px;
                    cursor: pointer;
                    font-family: 'Almarai';
                
                    span{
                        font-size: 25px;
                        line-height: 140%;
                        font-weight: 700;
                        font-style: normal;
                        color:var(--color2);
                        flex: none;
                        flex-grow: 0;
                        display: grid;
                        place-items: center;
                    }
        }
    }
    .body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width:60%;
        margin-top: 40px;

        h3{
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 140%;
            margin-bottom: 10px;
            color: var(--color2);
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content:center;
            padding: 0px;
        }

        ul li{
            list-style-type: none;
            margin: 10px 0px;

            a{
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 140%;
                color: var(--color2);
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .media{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            a{
                color: var(--color2);
                font-size: 36px;
            }
        }
        .copy_right{
            margin-top: 30px;
            span{
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 140%;
                color: #312E3A;
            }
        }
    }
}


//** Media Query for responsive */
@media only screen and (min-width: 1700px){
    .footer{
        padding: 0px 30px;
    }
}


@media only screen and (max-width: 1370px){
    .footer{
        .logo img{
            width: 150px;
        }
        .head{
            .work_with{
                width: 200px;
                height: 61px;
                padding: 15px 17px;
                span{
                    font-size: 20px;
                }
            }
        }
        .body{
            h3{
                font-size: 22px;
            }
            ul{
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
        .social{
            .media{
                a{
                    font-size: 30px;
                }
            }
            .copy_right{
                span{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    .footer{
        .logo img{
            width: 140px;
        }
        .head{
            .work_with{
                width: 170px;
                height: 51px;
                padding: 15px 17px;
                span{
                    font-size: 18px;
                }
            }
        }
        .body{
            h3{
                font-size: 20px;
            }
            ul{
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        .social{
            .media{
                a{
                    font-size: 26px;
                }
            }
            .copy_right{
                span{
                    font-size: 18px;
                }
            }
        }
    }
}